<section class="container mx-auto mb-24 flex md:flex-col flex-col-reverse">
	<div class="flex justify-between mr-2 md:mx-24 lg:mx-36 mt-12 flex-wrap">
		{% set settings = frappe.get_doc("Conference Settings") %}
		{% if settings.publish_agenda %}
			<a href="/agenda"class="uppercase mt-4 text-center text-sm text-gray-500 md:w-1/5 w-1/2">Agenda</a>
		{% endif %}
		<a href="/code-of-conduct" class="uppercase mt-4 text-center text-sm text-gray-500 md:w-1/5 w-1/2">Code of Conduct</a>
		<a href="javascript:openModal()" class="uppercase mt-4 text-center text-sm text-gray-500 md:w-1/5 w-1/2">Register</a>
		<!-- <a href="/propose-a-talk" class="uppercase mt-4 text-center text-sm text-gray-500 md:w-1/5 w-1/2">Propose a Talk</a> -->
		<a href="mailto:shivam@frappe.io"class="uppercase mt-4 text-center text-sm text-gray-500 md:w-1/5 w-1/2">Contact Us</a>
	</div>

	<div>
		<p class="text-center mt-5 uppercase tracking-widest text-sm text-gray-700">Organized and Hosted by the folks at</p>

		<div class="flex flex-row justify-center content-center mx-auto mt-8">
			<a href="https://www.zerodha.com"><img class="h-10 mr-4 tilt-left" src="/assets/indiaos/img/logos/zerodha.svg" alt="Zerodha Logo"></a>
			<p class="text-xl text-gray-700 self-center"> & </p>
			<a href="https://www.frappe.io"><img class="h-10 ml-4 tilt-right" src="/assets/indiaos/img/logos/frappe.svg" alt="Frappe Logo"></a>
		</div>
	</div>
	<!-- <p class="text-center mt-8 tracking-widest text-sm mt-12 text-gray-700">© 2019 Frappe Technologies Pvt. Ltd. All rights reserved.</p> -->
</section>