{% extends "templates/conference.html" %}

{% block title %}IndiaOS 2020 - An Open Source Conference{% endblock %}

{% block meta %}
<meta itemprop="name" content="IndiaOS - 2020">
<meta name="title" content="Agenda - IndiaOS 2020">
<meta name="description" content="IndiaOS is an attempt to bring this community together, so we can learn and inspire each other. To take this community forward in new directions that we have not yet imagined.">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@indiaos">
<meta name="twitter:title" content="Agenda - IndiaOS 2020">
<meta name="twitter:description" content="IndiaOS is an attempt to bring this community together, so we can learn and inspire each other. To take this community forward in new directions that we have not yet imagined.">
<meta name="twitter:creator" content="@indiaos">
<meta name="twitter:card" content="summary_large_image">

<!-- Twitter summary card with large image must be at least 280x150px -->
<meta name="twitter:image:src" content="{{ frappe.utils.get_url() }}/assets/indiaos/img/social/banner.png">

<!-- Open Graph data -->
<meta property="og:title" content="Agenda - IndiaOS 2020" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ frappe.utils.get_url() }}" />
<meta property="og:image" content="{{ frappe.utils.get_url() }}/assets/indiaos/img/social/banner.png" />
<meta property="og:image:width" content="1360" />
<meta property="og:image:height" content="720" />
<meta property="og:description" content="IndiaOS is an attempt to bring this community together, so we can learn and inspire each other. To take this community forward in new directions that we have not yet imagined." />
<meta property="og:site_name" content="IndiaOS - 2020" />
{% endblock %}

{% block body %}
<section class="container mx-auto py-12">
	<div>
		<div class="paper p-6 lg:p-12 rounded shadow-md bg-white mt-8 mx-2 lg:mx-0">
			<h1 class="text-4xl mb-12 font-bold text-center tracking-wide mx-2">Agenda for IndiaOS 2020</h2>
			{% for item in schedule %}
				<div class="flex flex-wrap mb-8">
					<div class="w-full md:w-1/4 mt-1 text-right flex flex-row md:flex-col">
						<p class="md:text-xl font-mono font-medium text-gray-400 md:text-gray-600 pr-2 md:pr-10">
							{{ frappe.utils.get_time(item.start_time).strftime("%I:%M %p") }}
						</p>
						<p class="text-sm font-mono font-medium text-gray-400 pr-10">
							to {{ frappe.utils.get_time(item.end_time).strftime("%I:%M %p") }}
						</p>
					</div>
					<div class="w-full md:w-3/4">
						<h3 class="text-2xl font-medium text-gray-900 font-semibold">{{ item.talk if item.talk else item.label }}</h3>
						{% if item.talk %}
							{% set talk = talks[item.talk] %}
							<p class="font-mono font-medium text-gray-800">{{ talk.short_summary }}</p>
							{% if talk.speaker %}
								{% set speaker = speakers[talk.speaker] %}
								<a href="{{ speaker.route }}" class="flex flex-row mt-3 text-gray-600 hover:text-gray-800">
									<img class="rounded-full border-2 border-white shadow-md h-8 w-8 mr-2 self-center" src="{{ speaker.photo }}" alt="{{ speaker.full_name }}" data-tilt data-tilt-scale="1.1" data-tilt-perspective="99999">
									<p class="font-mono font-medium self-center">{{ speaker.full_name }}</p>
								</a>
							{% endif %}
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>
{% endblock %}

{% block script %}
<script src="https://unpkg.com/tilt.js@1.2.1/dest/tilt.jquery.min.js"></script>
</script>
{% endblock %}